<!-- app.component.html -->
<div class="mainContainer">
  <nav>
    <div class="logo">
      <img src="../assets/titlePaw.png" alt="Logo">
      <span class="brand-name">G</span><span class="brand-name2">local</span>
    </div>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active-link" routerLinkActive="active">Home</a>
      <a routerLink="/categories" routerLinkActive="active">Categories</a>
      <a routerLink="/aboutUs" routerLinkActive="active">About Us</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/petCare" routerLinkActive="active">Pet Care</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="auth-buttons">
      <button class="sign-in">Sign In</button>
      <button class="register">Register</button>
    </div>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
