<div class="home-container">

   <div class="textmain" [ngStyle]="{'left' : textLeft , 'word-spacing': letterSpacing , 'font-size':fontSize, 'line-height':textLineHeight,'white-space':whiteSpaceText,'width':widthTextDiv}">{{ initialText }}</div>       
          <div class="kitten" [ngStyle]="{'right' : rightKitten , 'bottom':bottomKitten , 'transform': 'rotate(' + transformKitten + 'deg)'}">
            <img src="assets/kitten.jpg" alt="Image 2">
          </div>
          <div class="yellowDog" [ngStyle]="{'height': greenHeight, 'right': greenRight, 'Bottom':greenBottom, 'left' : yellowLeft, 'top':yellowTop,'transform': 'rotate(' + yellowRotate + 'deg)'}">
            <img src="assets/yellowDog.jpg" alt="Image 3">
          </div>
          
        <div class="blackDog" [ngStyle]="{'top' : blackTop , 'left' : blackLeft ,'transform': 'rotate(' + blackTransform + 'deg)'}">
          <img src="assets/blackDog.jpg" alt="Image 5">
        </div> 
        
        <div class="puppy" [ngStyle]="{'left':puppyLeft, 'bottom':puppyBottom,'transform': 'rotate(' + puppyTrans + 'deg)'}">
            <img src="assets/puppy.jpg" style="height: 100%;" alt="Image 1">
        </div>
        <div class="green" [ngStyle]="{'bottom' : green2Bottom, 'right' : green2Right, 'transform': 'rotate(' + green2Trans + 'deg)'}">
          <img src="assets/greenDog.jpg" style="height: 100%;" alt="Image 4">
        </div>
        <img src="assets/purplePaw.png" class="small purpleP">
        <img src="assets/bone.png" class="small bone2">
        <img src="assets/belt.png" class="small belt">
        <img src="assets/smallOrangePaw.png" class="small oPaw">
        <img src="assets/transPaw.png" class="small trnaspaw1">
        <img src="assets/scroll.png" class="small scroll">
        <img src="assets/transPaw.png" class="small transpaw2">
        <img src="assets/bone.png" class="small bone">
</div>